asgiref==3.11.1
boto3==1.42.82
botocore==1.42.82
Django==5.2.13
django-anymail[postmark]==15.0
django-ckeditor-5==0.2.20
django-storages==1.12.3
djangorestframework==3.17.1
gunicorn==25.3.0
jmespath==1.0.0
nh3==0.3.4
numpy==2.4.4
opencv-python-headless==4.13.0.92
Pillow==12.2.0
python-dateutil==2.9.0.post0
python-decouple==3.6
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
whitenoise==6.2.0
django-htmx==1.21.0
