{% extends 'base.html' %}


{% block content %}


<style type="text/css">
	.card{
		max-width: 700px;
	}
	.card-body{
		padding: 20px;
	}
</style>

<div class="container">
	<div class="row">

		<!-- About -->
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
			<h2 class="card-title">About</h2>
            <p class="card-text"> This web application was built and developed by Ephraim Kanyandula,
             a Malawian national. Who is the creator and founder of this web application. The aim of the web app is to promote Malawian positive content created by Malawian content creators and influencers.
            </p>
			<a href="https://www.linkedin.com/in/ephraim-kanyandula/" class="btn btn-danger">Visit My Linkedin!</a>
			</div>
		</div>
	</div>
</div>

	

{% endblock content %}



